:root{
    --lightcyan:#66E2DC;
    --red-orange:#FA7453;
    --lightbrown:#FFB964;
    --landing-white:#FCFAF9;
    --landing-black:#191826;


    font-family: 'IBM Plex Sans', sans-serif;

    background: url("./assets/bg-main-desktop.png");
    
}


.infoBox img{
max-width: 100%;

}


#equalizerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-body-section{
    border: 3px solid blue;
  
    margin: 40px 0px 0px 120px;
    width: 57%;
    display: flex;
    flex-direction: column;

}

.infoBox{  
    background-color: var(--landing-black);
    border-radius:12px ;
    display: absolute;
    border: 3px solid blue;
    margin: 240px auto 20px auto;
    width: 80%;
    height: 600px;

}


.landing-info-pattern{
    
    border: 3px solid cyan;
    position: relative;
    z-index: 1;
    margin: auto;
    left: 12%;
    bottom: 60%;
    height: 200px;
    width:60%;

}





.overlapping-phone{
    object-fit:cover;
    position: relative;
    height:70% ;
    border: 3px solid blue;
    width: 300px;
    z-index: 2;
    left: 100px;
    bottom: 25%;
    
    

}

.overlapping-info-container{
    
  

    position:relative;
    color: var(--landing-white);
    height: 550px;
    border: 3px solid red;
    border-radius: 12px;
    background-color: var(--red-orange);
    width: 400px;
    float: right;
    right: 100px;
    z-index: 3;
    bottom: 70%;
    
    

}

.overlapping-info{
    margin: auto;
    padding: 20px;

}





h1{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 88px;
    margin-block-end: 0px;
    margin-block-start: 0.7em;
    color: var(--landing-black);
    line-height: 88px;
    font-weight:700px;
    letter-spacing: -1px;

}

h2{

    font-size: 40px;
    color: var(--landing-white);
    line-height: 52px;
    font-weight:700px;
   

}

.body1{
    display: flex;
    margin-block-start:0.4em;

    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--landing-black);
    font-size: 20px;
    line-height: 34px;
    font-weight:400px;
    letter-spacing: -1px;
}

.dollarWrapper{

    font-size: 66px;
     margin-right:20px;
    
    margin-block: 0em;

}

.body2{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--landing-black);

    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--landing-white);
    font-size: 16px;
    line-height: 26px;
    font-weight:400px;
} 



.Btn{
    display: flex;
    width: 80%;
    margin: 0px auto 16px auto;
    height: 61px;
    border: none;
    border-radius: 12px;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;                                      
    line-height: 32px;
    letter-spacing: -0.18;
    font-size: 16px;
    cursor: pointer;

}

.overlapping-info img{
    margin-right: 8px;
}

.iosBtn{
    background-color: var(--landing-black);
    color: var(--landing-white);

}

.androidBtn{
    background-color: var(--landing-white);


}


#patternContainer{

   
    
    object-fit: contain;
    height: 12em;
    width: 16em;
    position: absolute;
    top: 0px;
    right: 0px;
 
}

footer{

    display: grid;
    position: relative;
    grid-template-columns:  10% 55% auto;
    border: 3px solid blue;
    color:var(--landing-black);
    margin: 0px auto 50px auto;
    width: 80%;
}

.footer-text{

    margin-block: 0em;
    margin-left:40%;
}




.social-media-items{
    margin-top: 1.2em;
    float:right;

}

.social-media-items a{
    
    
    margin: 10px;
   align-items: center;
   
    

    

    /* position: sticky;
    float: right; */
}

.social-media-items a :hover{
 fill: var(--red-orange);

}
 



@media (max-width: 480px) {
    :root{
        background: url("./assets/bg-main-mobile.png");
    }

    .logo-body-section{
        border: 3px solid red;

        margin: 20px;
        width: 90%;
        object-fit: contain;
        display: flex;
    
    }

    .equalizer-info{
       font-size: 60px;
    }

    h1{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.45px;
    }

    .body1{
        font-size: 16px;
        line-height: 26px
    }



    #patternContainer{
        display: none;
     
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    h1{
        font-size: 65px;
        line-height: 64px;
    }

    .social-media-items{
        margin-top: 2em;
       
    
    }

    .overlapping-phone{
        object-fit:cover;
        position: relative;
        height:70% ;
        border: 3px solid yellow;
        width: 300px;
        z-index: 2;
        left: 40px;
        bottom: 25%;
        
        
    
    }

    .overlapping-info-container{
    
  

        position:relative;
        color: var(--landing-white);
        height: 550px;
        border: 3px solid yellow;
        border-radius: 12px;
        background-color: var(--red-orange);
        width: 350px;
        float: right;
        right: 30px;
        z-index: 3;
        bottom: 70%;
        
        
    
    }

    footer{

        display: grid;
        position: relative;
        grid-template-columns:  10% 55% auto;
        border: 3px solid yellow;
        color:var(--landing-black);
        margin: 0px auto 50px auto;
        width: 80%;
    }

    .logo-body-section{
        border: 3px solid yellow;
        margin: 60px 200px 60px 30px;
        display: flex;
        flex-direction: column;
    
    }
}

@media (min-width: 481px) and (max-width: 767px) {

    :root{
        background: url("./assets/bg-main-tablet.png");
    }
    .logo-body-section{
        border: 3px solid cyan;
        margin: 60px 200px 60px 30px;
        display: flex;
        flex-direction: column;
    
    }

  

    .infoBox{  
        background-color: var(--landing-black);
        border-radius:12px ;
        display: absolute;
        border: 3px solid blue;
        margin: 240px auto 20px auto;
        width: 100%;
        height: 600px;
    
    }

    h1{
        font-size: 50px;
        line-height: 50px;
    }

    .overlapping-phone{
        
        height:70% ;
        border: 3px solid cyan;
        width: 240px;
        left: 20px;
        
        
    
    }

    .overlapping-info-container{
    

        width: 300px;
        right: 20px;
        z-index: 3;
        bottom: 70%;
        
        
    
    }



    #patternContainer{

   
        
        object-fit: contain;
    height: 9em;
        width: 11em;
        position: absolute;
        top: 0px;
        right: 0px;
     
    }
}




.androidBtn:hover{
    background-color: var(--lightbrown);

}

.iosBtn:hover{
    background-color: var(--lightcyan);

}


* {
    box-sizing: border-box;
  }