:root{
    --lightcyan:#66E2DC;
    --red-orange:#FA7453;
    --lightbrown:#FFB964;
    --landing-white:#FCFAF9;
    --landing-black:#191826;


    font-family: 'IBM Plex Sans', sans-serif;

    background: url("./assets/bg-main-desktop.png");
    
}


.infoBox img{
max-width: 100%;

}


#equalizerInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-body-section{
  
    margin: 40px 0px 0px 120px;
    width: 57%;
    display: flex;
    flex-direction: column;

}

.infoBox{  
    background-color: var(--landing-black);
    border-radius:12px ;
    display: absolute;
    margin: 240px auto 20px auto;
    width: 80%;
    height: 600px;

}


.landing-info-pattern{
    
    position: relative;
    z-index: 1;
    margin: auto;
    left: 12%;
    bottom: 60%;
    height: 200px;
    width:60%;

}





.overlapping-phone{
    object-fit:cover;
    position: relative;
    height:70% ;
    width: 300px;
    z-index: 2;
    left: 100px;
    bottom: 25%;
    
    

}

.overlapping-info-container{
    
  

    position:relative;
    color: var(--landing-white);
    height: 550px;
    border-radius: 12px;
    background-color: var(--red-orange);
    width: 400px;
    float: right;
    right: 100px;
    z-index: 3;
    bottom: 70%;
    
    

}

.overlapping-info{
    margin: auto;
    padding: 20px;

}





h1{
    display: flex;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 88px;
    margin-block-end: 0px;
    margin-block-start: 0.7em;
    color: var(--landing-black);
    line-height: 88px;
    font-weight:700px;
    letter-spacing: -1px;

}

h2{

    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--landing-white);
    line-height: 52px;
    font-weight:700px;
   

}

.body1{
    display: flex;
    margin-block-start:0.4em;

    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--landing-black);
    font-size: 20px;
    line-height: 34px;
    font-weight:400px;
    letter-spacing: -1px;
}

.dollarWrapper{

    font-size: 66px;
     margin-right:20px;
    font-weight: 700;
    margin-block: 0em;

}

.body2{
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--landing-black);

    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--landing-white);
    font-size: 16px;
    line-height: 26px;
    font-weight:400px;
} 



.Btn{
    display: flex;
    width: 80%;
    margin: 0px auto 16px auto;
    height: 61px;
    border: none;
    border-radius: 12px;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif;                                      
    line-height: 32px;
    letter-spacing: -0.18;
    font-size: 16px;
    cursor: pointer;

}

.overlapping-info img{
    margin-right: 8px;
}

.iosBtn{
    background-color: var(--landing-black);
    color: var(--landing-white);

}

.androidBtn{
    background-color: var(--landing-white);


}


#patternContainer{

   
    
    object-fit: contain;
    height: 12em;
    width: 16em;
    position: absolute;
    top: 0px;
    right: 0px;
 
}

footer{

    display: grid;
    position: absolute;
    grid-template-columns:  10% 80% 30%;
    color:var(--landing-black);
    margin: 200px 8% 0px 10%;
    width: 80%;
}

.footer-text{

    margin-block: 0em;
    width: 50%;
    margin-left: 25%;
    float: left;
}




.social-media-items{
    
   

}

.social-media-items a{
    
    
    margin: 10px;
   align-items: center;
   

}

.social-media-items a :hover{
 fill: var(--red-orange);

}


.androidBtn:hover{
    background-color: var(--lightbrown);

}

.iosBtn:hover{
    background-color: var(--lightcyan);

}


* {
    box-sizing: border-box;
  }
 


  /* START OF MEDIA QUERY */

  @media (min-width:370){
    :root{
        background: url("./assets/bg-main-mobile.png");
    }

    footer{

        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "footericon "
        "footertext "
        "social"
        ;

        margin: 300px 8px 0px 6%;

        
    
        grid-gap:0px;
        width: 100%;
    
    }
  }


@media (max-width: 480px) {
    :root{
        background: url("./assets/bg-main-mobile.png");
    }

    footer{

        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr ;
        grid-template-areas:
        "footericon "
        "footertext "
        "social"
        ;

        margin: 440px 8px 0px 6%;

        
    
        grid-gap:0px;
        width: 100%;
    
    }
    
    .footer-text{
    grid-area:footertext ;
    width: 80%;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    }
    
    .footer-image{
    grid-area: footericon;
    margin-bottom: 32px;
    }
    
    .social-media{
    grid-area: social;
    margin-top: 48px;
 
    
    }

    .social-media-items{
        float: left;
        
    }

    h2{
  font-size: 32px;
    }

    .body2{
        font-size: 18px;
    }

    .overlapping-phone{

       
        display: inline-block;
        margin: auto;
        left: 20%;
        right: 20%;
        width: 65%;
        
        
    
    }

    .logo-body-section{

        margin: 40px 6px 10px 6px;
        width: 90%;
        object-fit: contain;
        display: flex;
    

    }

    .overlapping-info-container{
    
 
         border-radius:12px ;
         display: absolute;
         top: -340px;
         right: 0px;
         margin: 0px auto 20px auto;
         width: 100%;
        
    
    }




    .infoBox{  
       
        width: 100%;
        height: 600px;
        margin: 240px 0px 20px auto;
    
    }

    .equalizer-info{
       font-size: 60px;
    }

    h1{
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.45px;
    }

    .body1{
        font-size: 16px;
        line-height: 26px
    }



    #patternContainer{
        display: none;
     
    }
}



@media (min-width: 481px) and (max-width: 767px) {

    :root{
        background: url("./assets/bg-main-tablet.png");
    }
    .logo-body-section{
        margin: 60px 200px 60px 30px;
 
    
}
  
        footer{

            display: grid;
            grid-template-columns: 2fr 1fr ;
            grid-template-rows: 1fr 1fr ;
            grid-template-areas:
            "footericon blank "
            "footertext social";
        
            grid-gap:0px;
            position: absolute;
            margin: 200px 8px 0px 6%;


                       

            width: 95%;
        
}

.footer-text{
    grid-area:footertext ;
    width: 80%;
    margin-left: 0px;
}

.footer-image{
    grid-area: footericon;
}

.social-media{
    grid-area: social;
    display: flex;
    float: right;
    align-items: center;
   
    

}

.social-media-items{
  
  
   
    width: 90%;
   
  
}






    .infoBox{  
      
        height: 600px;
        width: 95%;
       
    
    }

    h1{
        font-size: 50px;
        line-height: 50px;
    }

    .overlapping-phone{
        
        width: 240px;
        left: 20px;
        
        
    
    }

    .overlapping-info-container{

        width: 300px;
        right: 20px;
  
    }

    #patternContainer{


        
    height: 9em;
        width: 11em;
        
     
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    h1{
        font-size: 65px;
        line-height: 64px;
    }

    .social-media-items{
        margin-top: 2em;
       
    
    }

    .overlapping-phone{
       
       
        left: 40px;
        bottom: 25%;
    }

    .overlapping-info-container{

        width: 350px;
        right: 30px;

    }

    .logo-body-section{
        margin: 60px 200px 60px 30px;
       
    }
}

/* END OF MEDIA QUERY */
